<form id="question-form" action="/questions" method="post">
  <input type="text" name="question[title]" placeholder="Title" value=""><br>
  <textarea name="question[description]" rows="8" cols="50" placeholder="Type your question"></textarea><br>
  <input type="submit" value="Post your question">
</form>
