<form id="addAnswer" action="<%= @question.id %>/answers" method="POST">
  <input type="text" name="answer_name" placeholder="Enter your answer here">
  <button type="submit" value="answer">add answer</button>
</form>