<form id="addComment" action="/comments/new" method="POST">
  <input type="text" name="comment_name" id="content" placeholder="Enter your comment here">
  <button type="submit" value="comment">add comment</button>
</form>