<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    loads bootstrap
  -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <% if session[:user_id] %>
          <div class="navbar-brand">

          </div>
        <% else %>
          <div class="navbar-brand">

          </div>
        <% end %>
      </div>
      <% if session[:user_id] %>
        <div class="navbar-right">
          <p class="navbar-text" style="color: white">Signed in as <%=@user.username%></p>
          <form id="sign-in" class="navbar-form navbar-right" action="/logout" method="POST">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="btn btn-default">Sign out</button>
          </form>
        </div>
      <% else %>
        <div id="sign-in" class="navbar-right">
          <button type="button" class="btn btn-success navbar-btn" data-toggle="modal" data-target="#logIn">Log in</button>
          <button type="button" class="btn btn-success navbar-btn" data-toggle="modal" data-target="#Register">Register</button>
        </div>
      <% end %>
    </div>
  </nav>
  <header>
    <div class="container">
      <img src="http://i.imgur.com/ANMnMsG.png?1"/ width="200">
      <div class="user_options">
        <ul>
        <li><a href="/questions">Questions</a></li>
        <li>Users</li>
        <li>Jobs</li>
      </ul>
      </div>
    </div>
  </header>

  <%= yield %>
  <%= erb :login %>
  <%= erb :'users/new' %>
</body>
</html>
